body {
    background-color: rgb(20, 19, 19);
    color: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
}

.cabecalho--logo {
font-size: 48px;
text-transform: uppercase;
}

.navegacao--lista {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.acao {
    color: black;
}

.navegacao--item a {
    color: yellow;
    text-decoration: none;
    padding: 8px;
    border: 2px solid yellow;
    border-radius: 10px;
}

.navegacao--item a:hover {
    background-color: yellow;
    color: rgb(35, 35, 70);
    border-radius: 10px;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal--titulo {
    font-size: 36px;
    text-transform: uppercase;
}

.principal--container {
    display: flex;
    gap: 16px;
}

.container--plano {
    background-color: rgb(35, 35, 70);
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.plano--nome {
    text-transform: uppercase;
    border-bottom: 2px solid yellow;
}

.preco--plano {
    font-size: 32px;
}

.lista--itens {
    list-style: circle;
    list-style-position: inside;
    padding: 0;
    margin: 36px 0;
    flex-grow: 1;
}

.botao {
    padding: 12px 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(35, 35, 70);
    background-color: yellow;
    border-radius: 10px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}

.botao:hover {
    color: yellow;
    background-color: rgb(35, 35, 70);
    border: 2px solid yellow;
    border-radius: 10px;
}
